<div class="mx-auto text-gray-900 max-w-7xl dark:text-gray-50">
    <div class="px-4 not-prose">
        <div class="flex justify-center">
            <div class="w-full">
                {{ $isSummerProjectsPage := or (eq .Title "Summer-Projects") (eq .Title "Takneek") (eq .Title "Inter-IIT") }}
                {{ $isTakneek := (eq .Title "Takneek")}}
                {{ $isInterIIT := (eq .Title "Inter-IIT")}}
                {{ $isWebDivision := (eq .Title "Web-Division")}}
                <div class="grid gap-6 mx-auto mt-12 mb-4 lg:max-w-none 
                    {{if $isWebDivision}} grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5
                    {{ else if $isSummerProjectsPage}} grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5
                    {{else}} grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3
                    {{ end }}">
                {{ range .Paginator.Pages }}
                    {{ if $isWebDivision}} 
                    {{ range .Params.headsList}}
                    <div class="bg-white rounded-xl overflow-hidden transition-transform duration-300 hover:scale-105 w-full">
                        <img class="w-full h-32 sm:h-64 lg:h-64  object-cover transition-transform duration-300 hover:scale-110" src="https://drive.google.com/thumbnail?id={{ .photo }}&sz=w1000" alt="{{.name}}">
                        <div class="p-2 text-center">
                            <h5 class="block mt-2 text-[15px] sm:text-xl lg:text-2xl font-bold text-gray-900">{{.name}}</h5>
                            <div class="font-bold text-[13px] sm:text-lg lg:text-xl text-gray-500 mb-2">Web Head</div>
                            <div class="flex justify-center space-x-4">
                                <a class="text-blue-700 hover:text-blue-900 transition-transform duration-300 hover:scale-110" href="{{.linkedin}}" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin fa-lg"></i></a>
                                <a class="text-blue-400 hover:text-blue-600 transition-transform duration-300 hover:scale-110" href="{{.insta}}" target="_blank" aria-label="Instagram"><i class="fab fa-instagram fa-lg"></i></a>
                                <a class="text-blue-600 hover:text-blue-800 transition-transform duration-300 hover:scale-110" href="{{.facebook}}" target="_blank" aria-label="Facebook"><i class="fab fa-facebook fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                    {{else if $isTakneek}}
                    <div class="w-full text-center">
                        <div class="text-[30px] text-gray-500 font-bold inline-block">
                          Coming Soon...
                        </div>
                    </div>
                    {{else if $isInterIIT}}
                    <div class="w-full text-center">
                        <div class="text-[30px] text-gray-500 font-bold inline-block">
                          Coming Soon...
                        </div>
                    </div>
                    {{else if $isSummerProjectsPage}}
                    <div class="bg-gray-100 dark:bg-gray-900 overflow-hidden rounded-[16px] shadow-md hover:shadow-xl">
                        <div class="bg-green-500 overflow-hidden roundedt-[16px] shadow-md hover:shadow-xl h-[8px]">
                        </div>
                        {{ $parent := . }}
                        <img src="{{$parent.Params.cover_image}}" alt="" class="w-full sm:h-64 object-cover p-3 rounded-[22px] cursor-pointer" onclick="openLightbox('{{$parent.Params.poster}}', '{{ $parent.Params.summary | safeJS }}', '{{$parent.Params.club}}', '{{$parent.Params.title}}')">
                        <div class="px-3 pb-3">
                            <h5 class="block mt-2 text-[15px] font-bold text-gray-100">{{.Title}}</h5>
                            <p class="mt-3 text-sm text-gray-900 dark:text-gray-300 line-clamp-3">{{ .Params.summary }}</p>
                            <div class="mt-2">
                                <i class="fab fa-github fa-lg transition-transform duration-300 cursor-pointer hover:scale-110" onclick="window.open('{{ .Params.githubLink }}', '_blank');"></i>
                                <i class="fas fa-file-alt fa-lg transition-transform duration-300 cursor-pointer hover:scale-110" onclick="window.open('{{ .Params.documentation }}', '_blank');" style="color: #4b8be5;"></i>
                            </div>
                        </div>
                    </div>
                    {{else}} 
                    <a href="{{ .Permalink }}" 
                       class="flex flex-col overflow-hidden rounded-lg shadow-lg bg-gray-50 dark:bg-gray-900 hover:shadow-xl transition-shadow duration-300">
                        {{ with .Params.featured_image }} 
                        {{ with resources.Get . }} 
                        {{ $postimage := (.Resize "500x webp q90").RelPermalink }}
                        <img src="{{ $postimage }}" class="object-cover overflow-hidden h-48 sm:h-64" loading="lazy" alt="{{ $.Title }}" />
                        {{ end }}
                        {{ end }}
                        <div class="p-6 flex-grow w-full">
                            <div class="flex-1">
                                <h2 class="block mt-2 text-xl font-bold text-gray-900 dark:text-gray-200">{{.Title}}</h2>
                                <p class="mt-3 text-sm text-gray-900 dark:text-gray-300 line-clamp-3">{{ .Params.summary }}</p>
                            </div>
                            <div class="flex items-center mt-4">
                                <div class="flex-shrink-0">
                                    <span class="sr-only">{{ .Params.author }}</span>
                                    {{ with .Params.authorimage }}
                                    {{ with resources.Get . }}
                                    {{ $authorimage := (.Resize "40x webp").RelPermalink }}
                                    <img class="w-8 h-8 rounded-full" src="{{ $authorimage }}" alt="">
                                    {{ end }}
                                    {{ end }}
                                </div>
                                <div class="ml-3">
                                    <p class="text-sm font-medium text-gray-900 dark:text-white">{{ .Params.author }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    {{end}}
                {{ end }}
                </div>
            </div>
        </div>
    </div>
    <div id="lightbox" class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center hidden z-50 py-[100px] px-[200px]">
        <div class="max-w-full w-full h-full flex flex-row bg-gray-100 dark:bg-gray-900 overflow-hidden rounded-[16px] shadow-md hover:shadow-xl">
            <img id="lightbox-img" src="" alt="" class="w-[370px] rounded-xl m-4">
            <div>
                <div id="title" class="text-white ml-4 mt-4 font-bold text-[32px]">Matering Web3.0</div>
                <div id="club" class="text-white ml-4 text-bold text-[18px]">Programming Club</div>
                <p id="lightbox-caption" class="text-white m-4"></p>
            </div>
            
        </div>
        <button onclick="closeLightbox()" class="absolute top-4 right-4 text-white text-4xl">&times;</button>
    </div>
    <script>
        function openLightbox(src, caption, club, title) {
            document.getElementById('lightbox-img').src = src;
            document.getElementById('lightbox-caption').textContent = caption;
            document.getElementById('title').textContent = title;
            document.getElementById('club').textContent = club;
            document.getElementById('lightbox').classList.remove('hidden');
        }
        
        function closeLightbox() {
            document.getElementById('lightbox').classList.add('hidden');
        }
        
        // Close lightbox when clicking outside the image
        document.getElementById('lightbox').addEventListener('click', function(e) {
            if (e.target === this) {
                closeLightbox();
            }
        });
    </script>
</div>